@import "variable_overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "reset.scss";
@import "mxn.scss";

//TITRE
.title {
  color: #d04f4f;
  font-weight: 700;
  font-size: 36px;
  @include mobile-only {
    font-size: 20px;
  }
}
//BARRE DE RECHERCHE PRINCIPALE
#searchInput {
  height: 69px;
  background: #e7e7e7;
  border-radius: 5px;
  &::placeholder {
    opacity: 0.3;
  }
  &:focus {
    caret-color: black;
  }
  @include mobile-only {
    height: 49px;
  }
}
#logo_s0 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 9rem;
  right: 3rem;
  @include mobile-only {
    height: 15px;
    width: 15px;
    top: 7.5rem;
    right: 1.5rem;
  }
}
//TAGS
.tags {
  flex-flow: row wrap;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  @include mobile-only {
    margin-right: 0.5rem;
  }
  & .tag {
    &--ingr {
      background-color: #3282f7;
    }
    &--app {
      background-color: #68d9a4;
    }
    &--ust {
      background-color: #ed6454;
    }
    &.txt {
      margin: 0.3rem 0.5rem 0.5rem 0;
      @include mobile-only {
        font-size: 0.8rem;
      }
    }
  }
}
//BARRES DE RECHERCHES SECONDAIRES
.accordion {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  z-index: 100;
  @include mobile-only {
    justify-content: center;
  }
  @include tablette-only {
    justify-content: center;
  }
  &-item {
    border: none;
    &--ingr {
      margin-right: 1rem;
      @include mobile-only {
        margin-right: 0.5rem;
        margin-bottom: 0.75rem;
      }
      @include tablette-only {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
      }
      & .accordion-button,
      & .inputSearch,
      & .accordion-body {
        background: #3282f7;
      }
    }
    &--app {
      margin-right: 1rem;
      @include tablette-only {
        margin-right: 0.5rem;
      }
      @include mobile-only {
        margin-right: 0.5rem;
        margin-bottom: 0.75rem;
      }
      & .accordion-button,
      & .inputSearch,
      & .accordion-body {
        background: #68d9a4;
      }
    }
    &--ust {
      @include mobile-only {
        margin-right: 0.5rem;
      }
      & .accordion-button,
      & .inputSearch,
      & .accordion-body {
        background-color: #ed6454;
      }
    }
  }
  &-button {
    border-radius: 5px;
    margin-bottom: -4px;
    display: flex;
    min-width: 15rem;
    color: white;
    @include mobile-only {
      font-size: 0.8rem;
    }
    @include tablette-only {
      font-size: 0.8rem;
    }
  }
  & .inputSearch {
    color: white;
    position: absolute;
    top: 1rem;
    z-index: 50;
    max-width: 11rem;
    @include mobile-only {
      font-size: 0.8rem;
      max-width: 8rem;
      letter-spacing: -1px;
    }
    @include tablette-only {
      font-size: 0.8rem;
      max-width: 8rem;
      letter-spacing: -1px;
    }
    &::placeholder {
      opacity: 0.8;
      color: white;
    }
  }
  &-body {
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    & .ingredients,
    & .ustensiles,
    & .appareil {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0 1rem;
      padding-left: 0;
      @include mobile-only {
        grid-template-columns: repeat(2, 1fr);

        gap: 0 0.25rem;
        font-size: 0.7rem;
      }
      @include tablette-only {
        gap: 0 0.5rem;
        grid-template-columns: repeat(2, 1fr);
        font-size: 0.8rem;
      }
    }
  }
}
//listes recettes
.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 2rem;
  @include mobile-only {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem 0rem;
    margin-top: 10rem;
  }
  @include tablette-only {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 1rem;
    margin-top: 8rem;
  }
  position: absolute;
  top: 19.5rem;
  padding: 0 1rem 1rem 0;
  .recipe {
    cursor: pointer;
    &:hover {
      box-shadow: 1px 1px 1px #c7c7c7;
      border-radius: 5px;
    }
    &-img-top {
      height: 8rem;
      background-color: #c7bebe;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &-body {
      background-color: #e7e7e7;
      padding: 15px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      &_top {
        &_name {
          font-size: 14px;
          width: 70%;
          font-weight: 500;
          height: 1rem;
        }
        &_time {
          font-size: 13px;
          font-weight: 700;
        }
      }
      &_bot {
        width: 100%;
        height: 8rem;
        &_ingredients {
          font-size: 12px;
          width: 50%;
          overflow-y: auto;
          &::-webkit-scrollbar {
            background-color: #c7bebe;
            border-radius: 5px;
            width: 10px;
            min-height: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #e7e7e7;
            border: 1px solid #c7bebe;
            border-radius: 5px;
          }
          &_ingredient {
            font-weight: 700;
            &_qt {
              font-weight: 400 !important;
              white-space: normal;
            }
          }
        }
        &_description {
          font-size: 12px;
          margin-left: 0.5rem;
          width: 50%;
          font-weight: 500;
          overflow: hidden;
          height: 8rem;
        }
      }
    }
  }
}

.messBlock {
  display: flex;
  align-items: center;
  @include mobile-only {
    flex-direction: column;
  }
  & .messError {
    margin: 1rem;

    @include mobile-only {
      font-size: 0.8em;
    }
  }
}
