@import "variable_overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "reset.scss";
@import "mxn.scss";

body {
  padding: 1rem;
  @include mobile-only  {
    padding: 0.5rem;
  }
}
//TITRE
.title {
  color: #d04f4f;
  font-weight: 700;
  font-size: 36px;
  @include mobile-only  {
    font-size: 20px;
  }
}
//BARRE DE RECHERCHE PRINCIPALE

#searchInput {
  height: 69px;
  background: #e7e7e7;
  border-radius: 5px;
  &::placeholder {
    opacity: 0.3;
  }
  &:focus {
    caret-color: black;
  }
  @include mobile-only  {
    height: 49px;
  }
}
#logo_s0 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 9rem;
  right: 3rem;
  @include mobile-only  {
    height: 15px;
    width: 15px;
    top: 7rem;
    right: 1.5rem;
  }
}
//TAGS
.tags {
  flex-flow: row wrap;
  margin: 1rem 1rem 1rem 0;
  @include mobile-only {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }
  @include tablette-only {
    margin: 0.75rem 0.75rem 0.75rem 0;
  }
  & .tag{
    &--ingr {
      background-color: #3282f7;
      & .txt {
        margin:  0.3rem 0.5rem 0.5rem 0;
        color: white;
      }
    }
    &--app {
      background-color: #68d9a4;
      & .txt {
        margin:  0.3rem 0.5rem 0.5rem 0;
        color: white;
      }
    }
    &--ust {
      background-color: #ed6454;
      & .txt {
        margin:  0.3rem 0.5rem 0.5rem 0;
        color: white;
      }
    }
  }  
}
//BARRES DE RECHERCHES SECONDAIRES
.accordion {
  display: flex;
  flex-flow: row wrap;
  @include mobile-only {
    flex-direction: column;
  }  @include tablette-only {
    flex-direction: column;
  }
  &-item {
    border: none;
    &--ingr {
    margin-right: 0.5rem;
    @include mobile-only {
      margin:0.5rem auto;
    }
    @include  tablette-only {
      margin:1rem auto;
    }
      & :nth-child(1) {
        background: #3282f7;
      }
    }
    &--app {
    margin-right: 1rem;
    @include mobile-only {
      margin: 0.5rem auto;
    }
    @include  tablette-only {
      margin:1rem auto;
    }
      & :nth-child(1) {
        background: #68d9a4;
      }
    }
    &--ust {
      @include mobile-only {
        margin: 0.5rem auto;
      }
      @include  tablette-only {
        margin:1rem auto;
      }
      & :nth-child(1) {

        background: #ed6454;
      }
    }
  }
  &-button {
  border-radius: 5px;
  margin-bottom: -4px;
  display: flex;
  justify-content: space-between;
    & .inputSearch {
      color: white;
      &::placeholder {
        color: white;
        opacity: 0.8;
      }
    }
    &:not(.collapsed) {
      box-shadow: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &-body {
    position: relative;
    z-index:10!important;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    & .ingredients,
    & .ustensiles,
    & .appareil {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0 1rem;
      padding-left: 0;
      @include mobile-only {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 0.25rem;
        font-size: 0.9em;
      }
      @include tablette-only {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 0.5rem;
        font-size: 0.9em;
      }
    }
  }
}
//listes recettes
.recipes {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 2rem;

  @include mobile-only {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem 0rem;
  }
  @include tablette-only {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 1rem;
  }
  position: relative;
  z-index: 1;
  .recipe  {
    cursor: pointer;
    &:hover {
    box-shadow: 1px 1px  1px #c7c7c7;
    border-radius: 5px;
    }
    &-img-top {
        height: 8rem;
        background-color: #C7BEBE;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

      }
      &-body {
        background-color: #E7E7E7;
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        &_top {
          &_name {
            font-size: 14px;
            width: 70%;
            font-weight: 500;
            height: 1rem;
          }
          &_time {
            font-size: 13px;
            font-weight: 700;
          }
        }
        &_bot {
          width: 100%;
          height: 8rem;
   
          &_ingredients {
           
            font-size: 12px;
            width: 50%;
            overflow-y: auto;
            &::-webkit-scrollbar {
              background-color: #C7BEBE;
              border-radius: 5px;
              width: 10px;
              min-height: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #E7E7E7;
                border: 1px solid #C7BEBE;
                border-radius: 5px;
            }
            &_ingredient {
              font-weight: 700;
              ;
              &_qt {
                font-weight: 400!important;
                white-space: normal;
              }
            }}
            &_description {
              font-size: 12px;
              margin-left: 0.5rem;
              width: 50%;
              font-weight: 500;
              overflow: hidden;
              height: 8rem;
          }
        }
      }
    }
  }

.messBlock {
  display: flex;
  align-items: center;
  @include mobile-only {
    flex-direction: column;
  }
  & .messError {
    margin: 1rem;
    @include mobile-only {
      font-size: 0.8em;
    }
  }
  & .messSelect {
    @include mobile-only {
      font-size: 0.8em;
    }
    & .recipeSelect {
      font-weight: 900;
    }
  }
}

