@import "variable_overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "reset.scss";


body {
  padding: 0 1rem;
}
//TITRE
.title {
  color: #d04f4f;
  font-weight: 700;
  font-size: 36px;
}
//BARRE DE RECHERCHE PRINCIPALE
#searchInput {
  height: 69px;
  background: #e7e7e7;
  border-radius: 5px;
  &::placeholder {
    opacity: 0.25;
  }
  &:focus {
    caret-color: black;
  }
}
#logo_s0 {
  width: 30px;
  height: 30px;
  margin-left: -3rem;
  margin-top: 1.1rem;
}
//TAGS
#tags {
  width: 20%;
}
//BARRES DE RECHERCHES SECONDAIRES
.accordion {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  &-item {
    border: none;
    &--ingr {
      margin-right: 1rem;

      & :nth-child(1) {
        background: #3282f7;
      }
    }
    &--app {
      margin-right: 1rem;
      & :nth-child(1) {
        background: #68d9a4;
      }
    }
    &--ust {
      & :nth-child(1) {
        background: #ed6454;
      }
    }
  }
  &-button {
    border-radius: 2px;
    margin-right: 1rem;
    & .inputSearch {
      color: white;
      width: 80px;
      &::placeholder {
        color: white;
        opacity: 0.8;
      }
    }
  }
  &-body {
    color: white;
    z-index: 1;
    position: absolute;
    & .ingredients,
    & .ustensiles,
    & .appareil {
      display: flex;
      flex-flow: column wrap;
      padding-left: 0;
      & .ingrsC,
      & .ustsC,
      & .appsC {
        margin-right: 0.7rem;
      }
    }
  }
}
//listes recettes
.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 2rem;
  .recipe {
      &-img-top {
        height: 8rem;
        background-color: #C7BEBE;
        max-width:380px ;
      }
      &-body {
        background-color: #E7E7E7;
        padding: 15px;
        max-width:380px ;
        &_top {
          &_name {
            font-size: 14px;
            width: 70%;
            font-weight: 500;
            height: 1rem;
          }
          &_time {
            font-size: 13px;
            font-weight: 700;
          }
        }
        &_bot {
          width: 100%;
          height: 8rem;

          &_ingredients {
           
            font-size: 12px;
            width: 50%;
            overflow-y: auto;
            &::-webkit-scrollbar {
              background-color: #C7BEBE;
              border-radius: 5px;
              width: 10px;
              min-height: 10px;
          }
      
          &::-webkit-scrollbar-thumb {
              background-color: #E7E7E7;
              border: 1px solid #C7BEBE;
              border-radius: 5px;
          }
          }
            &_ingredient {
              font-weight: 700;
              ;
              &_qt {
                font-weight: 400!important;
                white-space: normal;
              }
            }
          &_description {
            font-size: 12px;
            margin-left: 0.5rem;
            width: 50%;
            font-weight: 500;
            overflow: hidden;
            height: 8rem;
          }
        }
    }
  }
}

.messBlock {
  & .messError {
    color: red;
  }
  & .messSelect {
    & .recipeSelect {
      font-weight: 900;
    }
  }
}
